$main-txt: #999999; 
$dark-gray:rgb(43, 43, 43);
$light-gray:rgb(209, 209, 209);
$dark-pink:rgb(180, 112, 136);
$light-pink:rgba(250, 171, 198, 0.705);
$light-pink-op:rgba(250, 171, 199, 0.411);

@mixin bp($point) {

    @if $point == desktoplarge {
        @media (min-width: 1600px) {
            @content;
        }
    }

    @else if $point == desktop {
        @media (min-width: 1250px) {
            @content;
        }
    }

    @else if $point == laptop {
        @media (min-width: 1024px) {
            @content;
        }
    }

    @else if $point == mobile {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $point == phone {
        @media (min-width: 480px) {
            @content;
        }
    }
}

a{
    text-decoration: none;
}

.unseparable {                
    white-space: nowrap;
}

.logo-txt {
    font-weight: 700;            
    white-space: nowrap;
}

h2 {
    margin: 1.5rem 0 1rem 0;
    text-transform: uppercase;
    font-style: italic;
    line-height: 30px;
}

h5 {
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
    font-style: italic;
    color: $light-pink;
    font-weight: 700;
}

p {
    margin: 1rem 0 1rem 0;
}

.btn {
    border: none;
    margin: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    padding: 1rem 0.7rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    cursor: pointer;

    @include bp(laptop){
        padding: 1rem 1.2rem;
    }
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "header header header" 
      "main main main" 
      "footer footer footer";

      .back-to-top {
        opacity: 0;
        position: fixed;
        bottom: 5%;
        right: 5%;
        background-color: $light-pink;
        border-radius: 3px;
        padding: 0.5em 0.8em;
        color: $dark-gray;
        z-index: 1000;
    
        &:hover {
            background-color: $light-pink-op;
        }
    
        i {
            padding-left: 0.5em;
        }
    }
}

.site-header {
    grid-area: header;
    box-shadow: -5px 14px 10px -8px rgba(0, 0, 0, 0.336);
    margin-bottom: 18px;
    padding: 0.5rem 0.5rem 0 0.5rem;

    @include bp(mobile){
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            box-shadow: 0px 1px 3px 0px #858585;
        }
    }

    .logo-line {
        text-align: center;

        @include bp(phone){            
            display: grid;
            grid-template-columns: 7fr 2fr;
            text-align: unset;
        }

        h1 {
            grid-area: 1;
            text-shadow: 3px 2px 4px $main-txt;
            margin: 1rem 0 2rem 0;

            /** @include bp(mobile){  
                margin: 0;
            }**/
        }

        h1:hover {
            color: $main-txt;
        }

        .book-now{
            color: white;
            background-color: $light-pink;
        }

        .book-now:hover {
            background-color: $light-pink-op;
            color: $dark-gray;
        }
    }

    .site-nav {
        color: $main-txt;

        .burger-menu {
            float: right;
            margin: 1rem 0;

            i{
                color: $main-txt;
                font-size: 2rem;
            }

            @include bp(mobile){
                display: none;
            }
        }

        ul {
            justify-content: center;
            font-style: italic;
            padding: 1rem 1rem;
            display: none;

            @include bp(mobile){
                display: flex !important;
            }

            li {
                margin: 2vh 3vw;
                text-align: center;
                font-size: 1.2rem;
                text-transform: uppercase;

                @include bp(mobile){
                    margin: 0 3vw;
                }

                a {
                    color: $main-txt;
                }

                a:hover {
                    color: $light-gray;
                }
            }
        }
    }
}

.site-main {
    grid-area: main;
    margin: 0 1rem 1.5rem 1rem;
}

.site-footer {
    grid-area: footer;
    background-color: $main-txt;

    @include bp(phone){        
        display: grid;    
        grid-template-columns: 1fr 1fr;
    }
    
    @include bp(laptop) {
        grid-template-columns: 2fr 1fr 2fr 1fr;
    }


    h4 {
        text-transform: uppercase;
        color: $dark-gray;
        font-style: italic;
        margin-bottom: 1rem;
    }

    a {
        color: black;
    }

    a:hover {
        color: $light-gray;
    }

    .footer-info {
        line-height: 1.5rem;
        border-bottom: 1px solid white;
        padding-bottom: 1.5em;

    }

    .site-map {
        li {
            border-bottom: 1px solid white;
            font-size: 1rem;
            padding-bottom: 1.5em;
        }
        
        li:not(:last-child) {
            margin-bottom: 1em;
        }

        
        @include bp(laptop) {
            font-size: 1.2rem;
        }
    }

    .socials-footer {
        li {
            border-bottom: 1px solid white;
            font-size: 2em;
            padding-bottom: 1.5rem;
            text-align: center;            
        }

        li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .footer-div {
        padding: 1.2rem;
    }

    .ig-pics {
        ul {            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 100px);
            grid-gap: 0.3em;

            @include bp(laptop){
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 130px);
            }
        }

        img {
            width: 100%;
            height: 100%;
        
            overflow: hidden;
            object-fit: cover;
        }

        img:hover {
            opacity: 0.6;
        }
    }

}